In [15]:
import pandas as pd
import numpy as np

# Load your csv file
df = pd.read_csv(
    "forecasts/Forecasts_DE_DNN_LEAR_ensembles.csv", parse_dates=True, index_col=0
)


def sMAPE(y_true, y_pred):
    return (
        100
        / len(y_true)
        * np.sum(2 * np.abs(y_pred - y_true) / (np.abs(y_true) + np.abs(y_pred)))
    )


df.head()

,Real price,DNN 1,DNN 2,DNN 3,DNN 4,DNN Ensemble,LEAR 56,LEAR 84,LEAR 1092,LEAR 1456,LEAR Ensemble
2016-01-04 00:00:00,13.78,9.079985,12.374815,10.602676,10.600306,10.664445,13.0329,11.8312,9.3073,7.2452,10.354150
2016-01-04 01:00:00,12.77,6.142382,10.737263,7.159199,7.956757,7.998900,10.6372,8.0028,6.1668,4.1847,7.247875
2016-01-04 02:00:00,10.56,3.542736,9.347174,5.593657,6.404373,6.221985,8.9095,10.4478,3.6748,2.6996,6.432925
2016-01-04 03:00:00,3.87,3.484398,8.976881,4.708006,6.429434,5.899680,8.2185,8.9046,3.0388,2.7848,5.736675
2016-01-04 04:00:00,3.20,4.640604,10.229042,4.688288,7.726181,6.821029,8.4870,9.8111,1.9000,2.4542,5.663075

In [18]:

smape_dnn = sMAPE(df['Real price'], df['DNN 4'])
smape_lear = sMAPE(df['Real price'], df['LEAR 1092'])

print(f'sMAPE for DNN: {smape_dnn}%')
print(f'sMAPE for LEAR: {smape_lear}%')

sMAPE for DNN: 15.507750382347355%
sMAPE for LEAR: 16.794714222072248%